{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <!--Hero Banner-->
    <div class="banner">
        <img src="/static/images/banner.png">
        <p class="banner-right">Discover the Magic of Slime</p>
    </div>
    <!--Best Seller-->
    <div class="best">
        <h1>Best Seller</h1>
        <div class="best-sellers">
            {% for product in best_sellers %}
                <div class="best-item">
                    <img src="{{ url_for('static', filename='images/' + product.image_url.split('/')[-1]) }}" alt="Best Seller {{ product.id }}">
                    <a href="/product/{{ product.id }}"><h3>{{ product.name }}</h3></a>
                    <p>${{ product.price }}</p>
                </div>
            {% else %}
                <p>No best sellers available at the moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}