{% extends "layout.html" %}

{% block title %}
    Products Listings
{% endblock %}

{% block body %}
<body>  
    <h1>Product Listing Page</h1>
    <p>Here are our amazing products!</p>
    <div id="list">
        {% for product in products %}
        <div class="product-item">
            <img src="{{ url_for('static', filename='images/' + product.image_url.split('/')[-1]) }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>${{ product.price }}</p>
            <a href="/product/{{ product.id }}">View Details</a>
        </div>
        {% else %}
        <p>No products available at the moment.</p>
        {% endfor %}
    </div>
</body>
{% endblock %}