{% extends "layout.html" %}

{%block title %}
    Product Details
{% endblock %}

{% block body %}
    <div class="product">
        <div class="product-left">
            <img src="{{ url_for('static', filename='images/' + product.image_url.split('/')[-1]) }}" alt="{{ product.name }}">
        </div>
        <div class="product-right">
            <h1>{{ product.name }}</h1>
            <p class="left">${{ product.price }}</p>
            <div>
                <select id="quantity">
                    {% for i in range(1, product.stock + 1) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <button class="add_cart" type="submit">Add to Cart</button>
            </div>
            <h3>Product Description</h3>
            <p style="white-space: pre-line;">{{ product.description }}</p>
        </div>
    </div>
{% endblock %}
