{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block body %}
    <div class="user_dash">
        <div class="welcome">
            <h4>Hi {{ current_user.full_name | title }}</h4>
            <p>Welcome to your dashboard</p>
        </div>
        <div class="user_info">
            <h3>Personal Info <a class="edit_link" href="/user/edit"><button>Edit</button></a></h3>
            <p>Name: {{ current_user.full_name | title }} </p>
            <p>Email: {{ email }}</p>
            <p>Password: {{ password_hidden }}</p>

        </div>
    </div>
{% endblock %}